@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  background-color: #F2F2F2;
}

body {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  background-color: #FFFFFF;
}

.button {
  font-family: inherit;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background: #83B3D3;
  text-transform: uppercase;
}


.navigation {
  display: flex;
  padding: 0 72px;
}

.navigation-list {
  width: 400px;
  padding: 0;
  margin-left: 40px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.navigation-user {
  max-width: 300px;
  margin-left: auto;
}

.navigation-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
}


.main-container {
  flex-grow: 1;
}

.main-index {
  /* background-image: url("../images/sedona-picture/foto-sedona.jpg"); */
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.main-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.description-reason {
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  color: #333333;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.advantages-list,
.advantages-city {
  display: flex;
  flex-wrap: wrap;
}


.advantages-item {
  box-sizing: border-box;
  width: 400px;
  padding: 90px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-title {
  font-size: 24px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.services-title {
  font-size: 24px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  background-size: cover;
  background-repeat: no-repeat;
}

.services-title-house {
  background-image: url("../images/icons/house.svg");
}

.services-title-burger {
  background-image: url("../images/icons/burger.svg");
}

.services-title-gift {
  background-image: url("../images/icons/box.svg");
}


.services-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
}

.services-city {
  width: 400px;
}

.description-title {
  font-size: 18px;
  line-height: 21px;
}

.advantages-city-special-background {
  box-sizing: border-box;
  width: 400px;
  padding: 90px;
  background-color: #83B3D3;
}

.suggested-hotels {
  display: flex;
  margin: 0 auto;
}

.distribution {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.footer-page {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.footer-social {
  width: 130px;
  margin-right: 61px;
}

.footer-contacts {
  width: 720px;
  text-align: center;
}

.footer-site {
  width: 130px;
  margin-left: auto;
}

.advantages-city-reverse {
  flex-direction: row-reverse;
}

.advantages-city,
.services-city {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
}


.services-city:nth-child(2n) {
  background-color: #FFFFFF;
}

.advantages-item:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.2);
}


.description-explanation {
  font-size: 22px;
  line-height: 26px;
}

.search-hotels-sedona {
  color: #FFFFFF;
  background-color: #756257;
  font-size: 24px;
  line-height: 26px;
}

.link-hotel-reservations {
  color: #FFFFFF;
  background-color: #756257;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.footer-contacts-phone {
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
}

.distribution {
  color: #FFFFFF;
  background-image: url("../images/sedona-picture/background-footer.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
}

.inner-header {
  width: 1200px;
}

.inner-header-background {
  color: #FFFFFF;
  background-image: url("../images/sedona-picture/catalog-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.breadcrumbs .breadcrumbs-link {
  color: inherit;
}

.catalog-filter {
  display: flex;
  flex-wrap: wrap;
}

.filter-hotels {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 -32px;
  padding: 0 32px 32px;
}

.filter-group-infrastructure {
  width: 150px;
  padding: 0;
  margin-right: 67px;
  margin-left: 71px;
}

.catalog-filter-list {
  padding: 0;
}

.search-hotels-choice {
  display: flex;
  width: 1057px;
}

.product-list {
  display: flex;
  width: 1200px;
  flex-wrap: wrap;
}

.select-control-viewing {
  width: 287px;
  margin-left: 81px;
}

.select-control {
  width: 160px;
}

.filter-group-housing {
  width: 150px;
  padding: 0;
  margin-right: 157px;
}

.price-hotel {
  width: 287px;
  margin-left: 81px;
}

.filter-group-catalog,
.price-hotel {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
}

.search-hotels {
  color: #000000;
  width: 338px;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
}

.product-card-title {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  text-decoration: none;
}

.product-card-type,
.product-card-price {
  color: #333333;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.about-card,
.product-card-like {
  background-color: #756257;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.product-card-link {
  text-decoration: none;
}

.product-card-like {
  background-color: #83B3D3;
}

.rating {
  color: #333333;
  background-color: #F2F2F2;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
}

.pagination-item {
  width: 55px;
  font-size: 20px;
  line-height: 26px;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  width: 1056px;
}

.pagination-list {
  display: flex;
}

.pagination-link {
  color: #FFFFFF;
  background-color: #83B3D3;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.pagination-current {
  background-color: #F2F2F2;
  color: #000000;
}

.show-hotels {
  display: block;
  color: #333333;
  font-size: 18px;
  line-height: 23px;
  width: 386px;
  margin: 0 0 0 298px;
}
