@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  background-color: #F2F2F2;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 1200px;
  margin: 0 auto;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  background-color: #FFFFFF;
}

.button {
  display: inline-block;
  font-family: inherit;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background: #83B3D3;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.navigation {
  display: grid;
  gap: 45px;
  grid-template-columns: 140px 3fr 2fr;
  margin: 0 70px -5px;
  position: relative;
}

.navigation-page {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: -14px 0 0 -5px;
  padding: 14px 0 0;
  list-style-type: none;
}

.navigation-user-link {
  display: flex;
  border-radius: 10px;
  height: 37px;
  margin: 14px 0 0 5px;
  position: relative;
  text-decoration: none;
  width: 37px;
  padding: 0;
}

.navigation-link {
  display: block;
  padding: 18px 0;
  margin: 2px 34px 4px 0;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
}

.navigation-logo img {
  display: block;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #dbdbdb;
}

.number-of-likes {
  background-color: #7DB54F;
  color: #ffffff;
  border-radius: 10px;
  font-size: 10px;
  line-height: 13px;
  min-width: 12px;
  padding: 3px 4px 4px;
  position: absolute;
  right: -4px;
  text-align: center;
  top: 2px;
  transition: inherit;
}

.button-link {
  padding: 9px 15px 8px;
  background-color: #756257;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
}

.link-hotel-reservations {
  display: block;
  box-sizing: border-box;
  margin: 14px 0 0 22px;
  min-width: 160px;
  border-radius: 4px;
}

.header-background {
  background-image: url("../images/sedona-picture/foto-sedona.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin: 0 0 63px;
  min-height: 485px;
}

.main-container {
  flex-grow: 1;
}

.main-title {
  margin: 0 auto 31px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  max-width: 720px;
  text-align: center;
  text-transform: uppercase;
}

.main-title-search {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  margin: 0 auto 32px;
  max-width: 720px;
}

.main-title-inner {
  margin: 0 auto 46px;
}

.description-reason {
  margin: 0 0 80px;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  color: #333333;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.advantages-city {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item {
  box-sizing: border-box;
  width: 400px;
  padding: 97px 75px 108px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-description-nubmer,
.advantages-description {
  font-size: 18px;
  line-height: 21px;
  margin: 0 0 29px;
}

.advantages-title {
  margin: 0 0 30px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.description-title {
  margin: 20px 0;
  font-size: 18px;
  line-height: 21px;
}

.services-title::before {
  display: block;
  content: "";
  width: 84px;
  height: 84px;
  margin: -8px auto 10px 90px;
  background-repeat: no-repeat;
}

.services-title-house::before {
  background-image: url("../images/icons/house.svg");
}

.services-title-burger::before {
  background-image: url("../images/icons/burger.svg");
}

.services-title-gift::before {
  background-image: url("../images/icons/box.svg");
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
  list-style-type: none;
}

.services-item {
  width: 256px;
  padding: 98px 72px 69px;
  background-color: rgba(131, 179, 211, 0.12);
}

.services-title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  background-size: cover;
  background-repeat: no-repeat;
}

.advantages-city-special-background {
  box-sizing: border-box;
  color: #ffffff;
  width: 400px;
  padding: 97px 90px 56px;
  background-color: #83b3d3;
}

.suggested-hotels {
  margin: 0 auto;
  padding: 88px 72px 94px;
}

.main-title-mailing {
  margin: 94px 240px 29px;
}

.footer-page {
  display: flex;
  flex-wrap: wrap;
  padding: 42px 72px;
}

.footer-social {
  width: 330px;
}

.footer-contacts {
  text-align: center;
  margin: 0 auto;
}

.footer-contacts address {
  font-style: normal;
}

.footer-contacts-phone {
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  padding: 15px;
}

.footer-site {
  width: 330px;
  text-align: right;
}

.advantages-city-reverse {
  flex-direction: row-reverse;
}

.services-item:nth-child(2n) {
  background-color: #ffffff;
}

.advantages-item:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.2);
}

.description-explanation {
  font-size: 22px;
  line-height: 26px;
  margin: 0 auto 56px;
  max-width: 720px;
  text-align: center;
}

.description-explanation-mailing {
  margin: 0 240px 26px;
}

.description-explanation-inner {
  margin: 0 240px 26px;
}

.newsletter-form {
  display: flex;
  margin: 0 auto;
  max-width: 800px;
}

.field {
  width: 566px;
  height: 28px;
  padding: 16px 22px;
  font: inherit;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.newsletter-button {
  width: 200px;
  padding: 16px 22px;
}

.search-hotels-sedona {
  display: block;
  width: 575px;
  height: 60px;
  margin: 0 auto;
  color: #ffffff;
  background-color: #756257;
  font-size: 24px;
  line-height: 26px;
}

.distribution {
  margin: 0 auto;
  height: 224px;
  padding: 28px 72px 140px;
  color: #ffffff;
  background-image: url("../images/sedona-picture/background-footer.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.inner-header-title {
  margin: 0;
  font-size: 60px;
  line-height: 78px;
}

.inner-header {
  padding: 35px 75px 32px;
}

.inner-header-background {
  color: #ffffff;
  background-image: url("../images/sedona-picture/catalog-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  line-height: 21px;
  margin: -11px 0 0 -6px;
  list-style-type: none;
}

.breadcrumbs-item {
  margin-right: 26px;
  padding: 5px;
  margin: -5px 0 0;
}

.breadcrumbs-link {
  color: inherit;
}

.catalog-filter {
  display: flex;
  flex-wrap: wrap;
}

.filter-hotels {
  line-height: 1.294;
  margin: 0 0 0 -36px;
  padding: 0 72px 48px;
}

.filter-group-infrastructure {
  border: none;
  margin: 14px 0 32px 32px;
  padding: 0;
  width: 180px;
}

.catalog-filter-list {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

.search-hotels-choice {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 53px;
}

.format-selection {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  width: 160px;
  list-style-type: none;
  margin: 0;
}

.display-format {
  display: flex;
  flex-wrap: wrap;
  width: 15px;
  height: 20px;
  padding: 10px;
}

.product-list {
  display: grid;
  gap: 10px 18px;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.select-control-viewing {
  height: 39px;
  padding: 9px 50px 12px 20px;
  width: 287px;
  margin: 44px 81px 44px 0;
}

.select-control {
  display: block;
  margin-left: 50px;
  width: 160px;
  padding: 9px 50px 12px 18px;
}

.range {
  border: 2px solid #ffffff;
  max-width: 287px;
  height: 47px;
}

.filter-group-housing {
  border: none;
  margin: 14px 0 36px 36px;
  padding: 0;
  width: 180px;
}

.range-field {
  width: 143px;
}

.catalog-filter-buttons {
  display: flex;
  flex-direction: column;
  width: 160px;
  margin: 74px 0 0 0;
}

.price {
  margin-left: auto;
  margin-right: 113px;
  width: 256px;
  padding: 0;
  border: none;
}

.price-hotel {
  font-size: 20px;
  font-weight: 700;
  margin: 13px 0 30px;
  padding: 0;
  line-height: 26px;
}

.control-input {
  margin-right: 21px;
}

.button-catalog {
  padding: 13px;
  margin-bottom: 17px;
  font-size: 17px;
  line-height: 22px;
}

.reset {
  color: #ffffff;
  font-size: 17px;
  line-height: 24px;
  background-color: transparent;
  border: none;
}

.filter-group-catalog {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 30px;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 22px;
  margin: 0 0 13px;
}

.sorting-hotel {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 70px;
}

.search-hotels {
  color: #000000;
  width: 500px;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
}

.product-card {
  align-content: start;
  box-sizing: border-box;
  display: grid;
  gap: 16px 25px;
  grid-template-columns: 133px 1fr;
  padding: 20px;
}

.product-card-title {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  text-decoration: none;
  margin: 0 auto;
}

.product-card-type,
.product-card-price {
  color: #333333;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.product-card-link {
  font-weight: 700;
  grid-column: 1/-1;
  outline: none;
  text-decoration: none;
}

.rating {
  padding: 9px 12px;
  margin: 0;
}

.star-rating {
  width: 120px;
}

.product-card-like {
  background-color: #83b3d3;
}

.rating {
  color: #333333;
  background-color: #f2f2f2;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
}

.result-more {
  border-bottom: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
  margin: 34px 0 30px;
  padding: 30px;
  width: 100%;
}

.pagination-item {
  font-size: 20px;
  line-height: 26px;
  margin: 8px 0 0 8px;
}

.pagination {
  display: flex;
  width: 1060px;
  justify-content: space-between;
  margin: -8px 0 0 -8px;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  margin: -8px 0 0 -8px;
  padding: 0;
  list-style-type: none;
}

.pagination-show-more {
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  font-size: 20px;
  line-height: 26px;
  padding: 19px 40px 15px;
  width: 620px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  min-width: 55px;
  border-radius: 4px;
  padding: 14px 16px 15px;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
  background-color: #83b3d3;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.pagination-current {
  background-color: #f2f2f2;
  color: #000000;
}

.hotels-page {
  min-width: 386px;
}

.show-hotels {
  display: flex;
  align-items: center;
}

.footer-social-link {
  border-radius: 10px;
  display: block;
  height: 34px;
  margin: 10px 0 0 10px;
  width: 34px;
  background-repeat: no-repeat;
  background-position: center;

}

.footer-social-tw {
  background-image: url(../images/icons/twiter.svg);
}

.footer-social-fb {
  background-image: url(../images/icons/facebook.svg);
}

.footer-social-youtube {
  background-image: url(../images/icons/social-youtube.svg);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
