@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  background-color: #f2f2f2;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 1200px;
  margin: 0 auto;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  background-color: #ffffff;
}

.button {
  display: inline-block;
  font-family: inherit;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background: #83b3d3;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.navigation {
  display: grid;
  gap: 45px;
  grid-template-columns: 140px 3fr 2fr;
  margin: 0 70px -5px;
  position: relative;
}

.navigation-page {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: -14px 0 0 -5px;
  padding: 14px 0 0;
  list-style-type: none;
}

.navigation-user-link {
  display: flex;
  border-radius: 10px;
  height: 37px;
  margin: 14px 0 0 5px;
  position: relative;
  text-decoration: none;
  width: 37px;
  padding: 0;
}

.navigation-icon:hover {
  fill: #756257;
}

.navigation-icon:active {
  fill: rgba(117, 98, 87, 0.3);
}

.navigation-user-link:focus {
  outline: none;
}

.navigation-link {
  display: block;
  padding: 18px 0;
  margin: 2px 34px 4px 0;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}

.nav-link-current {
  border-bottom-color: #756257;
}


.navigation-link:hover {
  color: #756257;
}

.navigation-link:active {
  color: rgba(117, 98, 87, 0.3);
}

.navigation-logo img {
  display: block;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.number-of-likes {
  background-color: #7db54f;
  color: #ffffff;
  border-radius: 10px;
  font-size: 10px;
  line-height: 13px;
  min-width: 12px;
  padding: 3px 4px 4px;
  position: absolute;
  right: -4px;
  text-align: center;
  top: 2px;
  transition: inherit;
}

.button-link {
  padding: 9px 15px 8px;
  background-color: #756257;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
}

.button-link:hover {
  background-color: #615048;
}

.button-link:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #615048;
}

.button-link:focus {
  background-color: #615048;
}

.button-link:focus-visible {
  background-color: #615048;
  outline: 3px solid #83b3d3;
}

.link-hotel-reservations {
  display: block;
  box-sizing: border-box;
  margin: 14px 0 0 22px;
  min-width: 160px;
  border-radius: 4px;
}

.header-background {
  background-image: url("../images/sedona-picture/foto-sedona.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin: 0 0 63px;
  min-height: 485px;
}

.main-container {
  flex-grow: 1;
}

.main-title {
  margin: 0 auto 31px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  max-width: 720px;
  text-align: center;
  text-transform: uppercase;
}

.main-title-search {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  margin: 0 auto 32px;
  max-width: 720px;
}

.main-title-inner {
  margin: 0 auto 46px;
}

.description-reason {
  margin: 0 0 80px;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  color: #333333;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.advantages-city {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item {
  box-sizing: border-box;
  width: 400px;
  padding: 97px 75px 108px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  margin: 0 0 29px;
}

.advantages-title {
  margin: 0 0 30px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.description-item {
  margin: 20px 0;
  font-size: 18px;
  line-height: 21px;
}

.services-title::before {
  display: block;
  content: "";
  width: 84px;
  height: 84px;
  margin: -8px auto 10px 90px;
  background-repeat: no-repeat;
}

.services-title-house::before {
  background-image: url("../images/icons/house.svg");
}

.services-title-burger::before {
  background-image: url("../images/icons/burger.svg");
}

.services-title-gift::before {
  background-image: url("../images/icons/box.svg");
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
  list-style-type: none;
}

.services-item {
  width: 256px;
  padding: 98px 72px 69px;
  background-color: rgba(131, 179, 211, 0.12);
}

.services-title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  background-size: cover;
  background-repeat: no-repeat;
}

.advantages-city-special-background {
  box-sizing: border-box;
  color: #ffffff;
  width: 400px;
  padding: 97px 90px 56px;
  background-color: #83b3d3;
}

.suggested-hotels {
  margin: 0 auto;
  padding: 88px 72px 94px;
}

.main-title-mailing {
  margin: 94px 240px 29px;
}

.footer-page {
  display: flex;
  flex-wrap: wrap;
  padding: 42px 72px;
}

.footer-social {
  width: 330px;
}

.footer-contacts {
  text-align: center;
  margin: 0 auto;
}

.footer-contacts address {
  font-style: normal;
}

.footer-contacts-phone {
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  padding: 15px;
}

.footer-contacts-phone:hover {
  color: #756257;
}

.footer-contacts-phone:focus {
  color: #756257;
  outline: 3px solid #83b3d3;
}

.footer-contacts-phone:active {
  color: #756257;
  opacity: 0.3;
  outline: none;
}

.footer-site {
  width: 330px;
  text-align: right;
}

.advantages-city-reverse {
  flex-direction: row-reverse;
}

.services-item:nth-child(2n) {
  background-color: #ffffff;
}

.advantages-item:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.2);
}

.description-explanation {
  font-size: 22px;
  line-height: 26px;
  margin: 0 auto 56px;
  max-width: 720px;
  text-align: center;
}

.description-explanation-mailing {
  margin: 0 240px 26px;
}

.description-explanation-inner {
  margin: 0 240px 26px;
}

.newsletter-form {
  display: flex;
  margin: 0 auto;
  max-width: 800px;
}

.field {
  width: 566px;
  height: 28px;
  padding: 16px 22px;
  border-radius: 10px 0px 0px 10px;
  font: inherit;
  border: none;
  background-color: #F2F2F2;
}

.field:hover {
  background-color: #e6e6e6;
}

.field:focus {
  outline: 3px solid #83b3d3;
}

.field:invalid {
  background: #ffffff;
  outline: 2px solid #ff5757;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: -14px 0 0 -18px;
  padding: 0;
  list-style-type: none;
}

.newsletter-button {
  width: 200px;
  padding: 16px 22px;
  border-radius: 0px 10px 10px 0px;
}

.newsletter-button:hover {
  background-color: #68a2ca;
  outline: none;
}

.newsletter-button:focus-visible {
  outline: 3px solid #756257;
}

.newsletter-button:active {
  color: rgba(131, 179, 211, 3);
  background-color: #68a2ca;
}

.search-hotels-sedona {
  display: block;
  width: 575px;
  height: 60px;
  margin: 0 auto;
  color: #ffffff;
  background-color: #756257;
  font-size: 24px;
  line-height: 26px;
}

.search-hotels-sedona:hover {
  background-color: #615048;
}

.search-hotels-sedona:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #615048;
}

.search-hotels-sedona:focus {
  background-color: #615048;
}

.search-hotels-sedona:focus-visible {
  background-color: #615048;
  outline: 3px solid #83b3d3;
}

.distribution {
  margin: 0 auto;
  height: 224px;
  padding: 28px 72px 140px;
  color: #ffffff;
  background-image: url("../images/sedona-picture/background-footer.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.inner-header-title {
  margin: 0;
  font-size: 60px;
  line-height: 78px;
}

.inner-header {
  padding: 35px 75px 32px;
}

.inner-header-background {
  color: #ffffff;
  background-image: url("../images/sedona-picture/catalog-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.header-breadcrumbs {
  margin: -11px 0 0 -6px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-link {
  border-radius: 4px;
  text-decoration: none;
  padding: 0 6px;
  cursor: pointer;
  color: inherit;
}

ol, ul {
  list-style: none;
  padding: 0;
}

.breadcrumbs-item {
  margin-top: 4px;
  padding-right: 16px;
  position: relative;
}

.breadcrumbs-item:first-child {
  margin-left: 2px;
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.breadcrumbs-item::after {
  background-color: currentColor;
  content: "";
  height: 8px;
  mask-image: url(../images/icons/Arrow..svg);
  opacity: .3;
  position: absolute;
  right: 3px;
  top: 7px;
  width: 8px;
  mask-repeat: no-repeat;
}

.breadcrumbs-item-house {
  display: flex;
  height: 21px;
  padding: 0;
  position: relative;
  width: 22px;
}

.breadcrumbs-item-house::before {
  content: "";
  height: 12px;
  margin: auto;
  mask-image: url(../images/icons/house-catalog.svg);
  background-color: #ffffff;
  width: 12px;
  color: inherit
}

.breadcrumbs-link:hover {
  color: #ffffff;
  opacity: 0.6;
}

.breadcrumbs-link:focus-visible {
  color: #ffffff;
  outline: 3px solid #83B3D3;
}

.breadcrumbs-item:focus-visible {
  color: #ffffff;
  outline: 3px solid #83B3D3;
}

.breadcrumbs-link:active {
  color: #ffffff;
  opacity: 0.3;
}

.catalog-filter {
  display: flex;
  flex-wrap: wrap;
}

.filter-hotels {
  line-height: 1.294;
  margin: 0 0 0 -36px;
  padding: 0 72px 48px;
}

.filter-group-infrastructure {
  border: none;
  margin: 14px 0 32px 32px;
  padding: 0;
  width: 180px;
}

.catalog-filter-list {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

.search-hotels-choice {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 53px;
}

.format-selection {
  display: grid;
  gap: 8px;
  grid-template-columns: 48px 48px 48px;
  margin: 0 0 0 53px;
}

.display-format {
  display: block;
  margin: 4px 0 0 5px;
  border-radius: 4px;
}


.display-format:hover,
.display-format:focus-visible {
  outline: 2px solid #83B3D3;
}

.display-format:active {
  outline: 2px solid #000000;
}

.display-format-current {
  outline: 2px solid #000000;
}

.product-list {
  display: grid;
  gap: 10px 18px;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.select-control {
  display: block;
  margin-left: 50px;
  width: 160px;
  padding: 9px 50px 12px 18px;
}

.select-control {
  border-radius: 4px;
  line-height: 23px;
  font-size: 18px;
  background-color: transparent;
  border: 2px solid #e6e6e6;
  color: #333333;
  padding: 9px 50px 12px 20px;
}

.select-control-pages {
  display: block;
  margin-left: 50px;
  width: 160px;
}

.select-control-viewing {
  width: 287px;
  margin: 6px 58px 44px 0;
}

.select-control:hover,
.select-control:focus-visible {
  outline: 2px solid #83B3D3;
}

.select-control:active {
  outline: 2px solid #E6E6E6;
  color: rgb(51, 51, 51, 0.3);
}

.range-inputs {
  display: flex;
  flex-wrap: wrap;
  width: 287px;
}

.range-group {
  border: 2px solid;
  border-right-color: currentcolor;
  box-sizing: border-box;
  display: flex;
  margin-right: -2px;
  padding: 11px 15px 10px 1rem;
  position: relative;
  width: calc(50% + 1px);
  border-radius: 4px 0 0 4px;
}


.range-group:nth-of-type(2n+1):hover:not(:focus-within):not(:active) {
  border-right-color: hsla(0, 0%, 100%, 0.6);
}

.range-group:hover {
  border-color: hsla(0, 0%, 100%, 0.6);
  z-index: 1;
}

.range-group:focus-visible {
  outline: 3px solid #81B3D2;
}

.range-group:focus-within {
  border-color: currentColor;
  box-shadow: inset 0 0 0 3px #81B3D2;
  ;
  outline: 3px solid #81B3D2;
  z-index: 2;
}

.range-group:active {
  background-color: #756257;
  border-color: currentColor;
  box-shadow: none;
  outline: none
}

.range-field {
  background-color: transparent;
  color: inherit;
  padding: 0;
  width: 50%;
  border: none;
  font: inherit;
  text-align: left;
  appearance: textField;
  outline: none;
}

.range-field::-webkit-outer-spin-button,
.range-field::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: #ffffff;
  margin-top: 32px;
  border: none;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
  opacity: 0.3;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  opacity: 1;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.toggle-min {
  background-color: #ffffff;
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: 51px;
}

.filter-group-housing {
  border: none;
  margin: 14px 0 36px 36px;
  padding: 0;
  width: 180px;
}

.range-label {
  margin-left: auto;
  opacity: .3;
  text-transform: lowercase;
  transform: translateY(-2px);
}


.catalog-filter-buttons {
  display: flex;
  flex-direction: column;
  width: 160px;
  margin: 74px 0 0 0;
}

.price {
  margin-left: auto;
  margin-right: 113px;
  width: 256px;
  padding: 0;
  border: none;
}

.price-hotel {
  font-size: 20px;
  font-weight: 700;
  margin: 13px 0 30px;
  padding: 0;
  line-height: 26px;
}

.control-input {
  margin-right: 21px;
}

.button-catalog {
  padding: 13px;
  margin-bottom: 17px;
  font-size: 17px;
  line-height: 22px;
}

.button-catalog:hover {
  background-color: #68a2ca;
}

.button-catalog:focus-visible {
  outline: 3px solid #ffffff;
}

.button-catalog:active {
  background-color: #68a2ca;
  color: rgba(255, 255, 255, 0.3)
}

.reset {
  color: #ffffff;
  font-size: 17px;
  line-height: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.reset:hover {
  color: #ffffff;
  opacity: 0.6;
}

.reset:focus-visible {
  outline: 3px solid #83b3d3;
  border-radius: 4px;
}

.reset:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-sort {
  display: flex;
  margin-right: 8px;
  Width: 16px;
  Height: 25px;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
  padding: 10px;
}

.filter-group-catalog {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 30px;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 22px;
  margin: 0 0 13px;
}

.control {
  position: relative;
  display: block;
  padding-left: 40px;
  line-height: 23px;
  cursor: pointer;
}

.control::before,
.control::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  display: block;
  width: 20px;
  height: 20px;
  transition: opacity 0.2s ease-in-out;
}

.control::before {
  background-color: currentColor;
  border-radius: 4px;
}

.control::after {
  background-color: #3f5e72;
  mask-image: url(../images/icons/control-checkbox.svg);
  opacity: 0;
}

.control-input:checked+.control::after {
  opacity: 1;
}

.control-input:disabled+.control-label::before {
  opacity: 0.3;
}

.control-input[type="radio"]+.control::before {
  border-radius: 50%;
}

.control-input[type="radio"]+.control::after {
  mask-image: url(../images/icons/control-radio.svg);
}

.control:hover::before {
  background-color: rgba(255, 255, 255, 0.6);
}

.control-input:focus-visible+.control::before {
  outline: 3px solid #83b3d3;
  opacity: 0.6;
}

.control:active::before {
  background-color: rgba(255, 255, 255, 0.3);
}

.sorting-hotel {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 70px;
}

.search-hotels {
  color: #000000;
  width: 500px;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  margin: 8px 0 0 0;
}

.product-card {
  align-content: start;
  box-sizing: border-box;
  display: grid;
  gap: 16px 25px;
  grid-template-columns: 133px 1fr;
  padding: 20px;
}

.product-card-title {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  text-decoration: none;
  margin: 0 auto;
}

.product-card-type,
.product-card-price {
  color: #333333;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.product-card-link {
  font-weight: 700;
  grid-column: 1/-1;
  outline: none;
  text-decoration: none;
}

.product-card-link:hover {
  opacity: 0.6;
}

.product-card-link:focus-visible {
  outline: 3px solid #83b3d3;
}

.product-card-link:active {
  opacity: 0.3;
}

.rating {
  padding: 9px 12px;
  margin: 0;
}

.star-rating {
  width: 120px;
  fill: #83b3d3;
  margin: 0;
}

.star-rating-four-star {
  margin-top: 10px;
}

.star-rating-two-star {
  margin-top: 10px;
}

.star-rating-three-star {
  margin-top: 10px;
}

.product-card-like {
  background-color: #83b3d3;
}

.product-card-like:hover {
  outline: 1px solid #756257;
  background-color: #68a2ca;
}

.product-card-like:focus-visible {
  outline: 3px solid #756257;
  background-color: #68a2ca;
}

.product-card-like:active {
  background-color: #68a2ca;
  outline: 1px solid #756257;
  color: rgba(255, 255, 255, 0.3);
}

.product-card-active {
  background-color: #7DB54F;
}

.product-card-active:hover {
  background-color: #6C9E42;
  outline: none;
}

.product-card-active:focus-visible {
  background-color: #6C9E42;
  outline: 3px solid #756257;
}

.product-card-active:active {
  background-color: #6C9E42;
  color: rgba(255, 255, 255, 0.3);
}

.rating {
  color: #333333;
  background-color: #f2f2f2;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
}

.result-more {
  border-bottom: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
  margin: 34px 0 30px;
  padding: 30px;
  width: 100%;
}

.pagination-item {
  font-size: 20px;
  line-height: 26px;
  margin: 8px 0 0 8px;
}

.pagination {
  display: flex;
  width: 1060px;
  justify-content: space-between;
  margin: -8px 0 0 -8px;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  margin: -8px 0 0 -8px;
  padding: 0;
  list-style-type: none;
}

.pagination-show-more {
  margin: 0 auto;
  padding: 19px 40px 15px;
  width: 620px;
}

.pagination-link:hover {
  background-color: #68a2ca;
}

.pagination-link:focus-visible {
  background-color: #68a2ca;
  outline: 3px solid #756257;
}

.pagination-link:active {
  background-color: #68a2ca;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  min-width: 55px;
  border-radius: 4px;
  padding: 14px 16px 15px;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  background-color: #83b3d3;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.pagination-current {
  background-color: #f2f2f2;
  color: #000000;
  cursor: not-allowed;
}

.pagination-current:hover {
  background-color: #f2f2f2;
  color: #000000;
}

.hotels-page {
  min-width: 386px;
}

.show-hotels {
  display: flex;
  align-items: center;
}

.footer-social-link {
  border-radius: 10px;
  color: #83b3d3;
  display: flex;
  height: 34px;
  margin: 10px 0 0 10px;
  width: 34px;
}

.footer-social-link::before {
  background-color: currentColor;
  content: "";
  height: 20px;
  margin: auto;
  width: 20px;
}

.footer-social-tw::before {
  mask-image: url(../images/icons/sociall-twitter.svg);
  mask-repeat: no-repeat;
  mask-position: center;
}

.footer-social-fb::before {
  mask-image: url(../images/icons/social-facebook.svg);
  mask-repeat: no-repeat;
}

.footer-social-youtube::before {
  mask-image: url(../images/icons/social-youtube.svg);
  mask-repeat: no-repeat;
}

.footer-social-link:hover {
  color: #68a2ca;
}

.footer-social-link:focus-visible {
  outline: 3px solid #68a2ca;
}

.footer-social-link:active {
  opacity: .3;
}

.contact-logo {
  border-radius: 10px;
  font-size: 40px;
  line-height: 1;
  padding: 15px;
  text-decoration: none;
}

.developer-link {
  left: 15px;
  position: relative;
  color: #000000;
}

.developer-link::after {
  background-color: currentColor;
  bottom: 18px;
  content: "";
  left: 15px;
  mask-image: url(../images/logo/logo-html.svg);
  pointer-events: none;
  position: absolute;
  right: 15px;
  top: 18px;
  mask-repeat: no-repeat;
}

.footer-developer-link {
  opacity: 0;
}

.contact-logo:hover {
  color: #756257;
}

.contact-logo:focus-visible {
  outline: 3px solid #68a2ca;
}

.contact-logo:active {
  opacity: .3;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  position: relative;
  margin: auto;
  background-color: #ffffff;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  max-width: 561px;
  padding: 62px 70px 70px;
}

.modal-auth {
  width: 715px;
}

.modal-close-button {
  position: absolute;
  padding: 25px;
  top: 54px;
  right: 70px;
  width: 53px;
  height: 53px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 50%;
  background-image: url("../images/icons/cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-title {
  font-family: "PT Sans", sans-serif;
  margin: 0 90px 32px 0;
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.auth-form {
  display: flex;
  flex-wrap: wrap;
  border: none;
  padding: 0;
  margin: 0;
  position: relative;
}

.field-group-data {
  position: relative;
}


.field-group {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  line-height: 40px;
  margin: 0;
  width: 100%;
}

.field-group-people {
  width: 50%;
}

.form-button-step-down {
  right: 98px;
}


.field-label {
  font-weight: 700;
  padding: 0 10px 0px 0;
  width: 145px;
  margin: 0;
  align-self: center;
  order: -1;
  box-sizing: border-box;
}

.auth-form-field {
  background-color: #f2f2f2;
  border: 2px solid transparent;
  border-radius: 4px;
  flex-grow: 1;
  font-weight: 700;
  padding: 5px 20px;
  height: 32px;
}

.form-field-counter {
  max-width: 132px;
  text-align: center;
  box-sizing: border-box;
  height: 50px;
  appearance: textfield;
}

.field-group-people:nth-of-type(2n) .field-label {
  margin-left: auto;
  max-width: 100px;
  width: auto;
}

.form-status {
  color: #333333;
  font-size: 16px;
  line-height: 40px;
  margin-left: 155px;
}

.form-status-error {
  color: #ff5757;
}

.form-button-step{
    position: absolute;
  background-color: transparent;
  border-radius: 4px;
  height: 20px;
  opacity: .3;
  right: 16px;
  top: 15px;
  width: 20px;
  border: none;
  cursor: pointer;
}

.form-button-step::before{
  position: absolute;
  background-color: currentColor;
  bottom: 0;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  transition: inherit;
}

.form-button {
  position: absolute;
  background-color: transparent;
  border-radius: 4px;
  height: 20px;
  opacity: .3;
  right: 16px;
  top: 15px;
  width: 20px;
  border: none;
  cursor: pointer;
}

.form-button::before {
  position: absolute;
  background-color: currentColor;
  bottom: 0;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  transition: inherit;
}

.form-button-datepicker::before {
  mask-image: url(../images/icons/date-selection.svg);
  mask-repeat: no-repeat;
}

.form-button-step-down::before{
  mask-image: url(../images/icons/plus.svg);
}

.form-tooltip {
  background-color: #83b3d3;
  border-radius: 50%;
  color: #ffffff;
  cursor: help;
  display: flex;
  height: 25px;
  margin: 14px 20px 0 0;
  order: -1;
  position: relative;
  width: 25px;
}

.form-tooltip::before {
  background-color: currentColor;
  content: "";
  height: 9px;
  margin: auto;
  mask-image: url(../images/icons/info-tooltip.svg);
  width: 9px;
}

.form-tooltip-text {
  background-color: #333333;
  border-radius: 10px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  font-size: 16px;
  left: 50%;
  line-height: 20px;
  margin-top: 15px;
  min-width: 216px;
  opacity: .01;
  padding: 20px 20px 22px;
  position: absolute;
  top: 100%;
  transform: translateX(-50%);
  transition: visibility .3s, opacity .3s;
  visibility: hidden;
}

.form-tooltip-text::after {
  border: 9px solid transparent;
  border-bottom-color: transparent;
  border-bottom-style: solid;
  border-bottom-width: 9px;
  border-bottom: 9px solid #333333;
  bottom: 100%;
  content: "";
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

.form-tooltip-text::before {
  bottom: 100%;
  content: "";
  height: 15px;
  left: 0;
  position: absolute;
  right: 0;
}

.form-submit{
  margin-top: 40px;
width: 100%;
line-height: 26px;
padding: 19px 40px 15px;
border-radius: 10px;
}

/* .modal-container-close {
  display: none;
} */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
